/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

body{ font: 16px/1.6 'Oswald', sans-serif;  }
body p{ font: 16px/1.6 'Lato', sans-serif; }
h1{ font-size: 28px; margin: 15px 0 15px; }
h2{ font-size: 24px; margin-top: 0; }
h3{ font-size: 20px; margin-top: 0; }
h4{ font-size: 18px; margin-top: 0; }


/* Top Bar Section */
.top-bar{ background: #b9121b; color: #fff; padding: 15px 0; }

/* Header - Main Menu */
.menu-area{ background: #f3f3f3; padding: 15px 0; }
.main-menu ul{ list-style: none; padding: 0; margin: 0; font-size: 28px; }
.main-menu ul li{ display: inline;  margin: 0 30px 0 0;}
.main-menu ul li:last-child{ margin: 0; }
.main-menu ul li a{ text-transform: uppercase; color: #4c1b1b; text-decoration: none;}
.main-menu ul  li.current-menu-item a{ color:#e58888; }

/* Slider */
.slide{ padding: 25px 0; }

/* Services */
.services{ background: #4c1b1b; padding: 25px 0; color: #fefefe; }

/* Middle Area */
.middle-area{ padding: 25px 0; }
.middle-area h1{ color: #4c1b1b; text-transform: uppercase;  }

/* Middle Area - Sidebar */
.sidebar{ background: #f6e497; padding: 20px; margin: 0 0 30px;  }

/* Footer */
footer{ background: #000; padding: 15px 0; color: #fcfae1; }

/* Footer - Footer Menu */
.footer-menu ul{ list-style: none; padding: 0; margin: 0; font-size: 20px; }
.footer-menu ul li{ display: inline;  margin: 0 15px 0 0;}
.footer-menu ul li:last-child{ margin: 0; }
.footer-menu ul li a{ color: #fcfae1;  text-decoration: none;}
.footer-menu ul  li.current-menu-item a{ color:#e58888; }

/* Blog */
.wp-post-image{ float: left; margin: 0 15px 10px 0; }
.format-image h2 { color: #fff; background: #717171; padding: 15px; }
.format-video h2 { color: #fff; background: #211e1e; padding: 15px; }
.format-standard h2 { color: #444; background: #d2d2d2; padding: 15px; }
.blog article{ display: inline-block; margin: 0 0 30px; width: 100%; }
.blog article h2{ margin-bottom: 15px; }
.blog article p > img{ width: 100%; height: auto; }
.blog .meta-info p{ line-height: 1em; font-weight: bold; }
.blog .meta-info p > a{ color: #9d9d9d; font-weight: normal; }